{%- comment -%}
  Breadcrumbs snippet
  Usage: {% render 'breadcrumbs' %}
{%- endcomment -%}

<nav class="breadcrumbs container" aria-label="Brødsmuler">
  <a href="/">Hjem</a>

  {%- if template.name == 'collection' -%}
    <span class="breadcrumbs__separator">/</span>
    <span aria-current="page">{{ collection.title }}</span>
  {%- endif -%}

  {%- if template.name == 'product' -%}
    {%- if product.collections.size > 0 -%}
      <span class="breadcrumbs__separator">/</span>
      <a href="{{ product.collections.first.url }}">{{ product.collections.first.title }}</a>
    {%- endif -%}
    <span class="breadcrumbs__separator">/</span>
    <span aria-current="page">{{ product.title }}</span>
  {%- endif -%}

  {%- if template.name == 'page' -%}
    <span class="breadcrumbs__separator">/</span>
    <span aria-current="page">{{ page.title }}</span>
  {%- endif -%}

  {%- if template.name == 'blog' -%}
    <span class="breadcrumbs__separator">/</span>
    <span aria-current="page">{{ blog.title }}</span>
  {%- endif -%}

  {%- if template.name == 'article' -%}
    <span class="breadcrumbs__separator">/</span>
    <a href="{{ blog.url }}">{{ blog.title }}</a>
    <span class="breadcrumbs__separator">/</span>
    <span aria-current="page">{{ article.title }}</span>
  {%- endif -%}
</nav>
